:root {
  --main-font: 'Inter', sans-serif;
  --main-text-color: #212b31;
  --secondary-text-color: #72787d;
  --link-hover-color: #036fc7;
  --accent-color: #ffdd76;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-weight: 400;
  background-color: #ffffff;
}

body.is-blocked {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.adress {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1086px) {
  .container {
    max-width: 1086px;
  }
}

.section {
  padding: 51px 0;
}

@media screen and (min-width: 1086px) {
  .section {
    padding: 71px 0;
  }
}

.btn {
  background: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 20px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.07;
  color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
  transform: scale(1.05);
}

@media screen and (max-width: 1085.9px) {
  .btn {
    margin-left: auto;
  }
}

@media screen and (max-width: 767.9px) {
  .btn {
    font-size: 10px;
    padding: 5px 10px;
  }
}

.header {
  max-width: 1440px;
  height: 96px;
  padding: 0 31px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

@media screen and (max-width: 1085.9px) {
  .navigation {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(114, 120, 125, 0.9);
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
  }
  .navigation.is-open {
    left: 0;
  }
}

@media screen and (min-width: 1086px) {
  .navigation {
    margin-left: auto;
  }
  .navigation__list {
    display: flex;
  }
  .navigation__item:not(:last-child) {
    margin-right: 22px;
  }
  .navigation__item:last-child {
    margin-right: 20px;
  }
}

.navigation__item {
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item:hover, .navigation__item:focus {
  transform: scale(1.05);
}

.navigation__link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  color: var(--secondary-text-color);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--link-hover-color);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: 20px;
  order: 3;
}

@media screen and (min-width: 1086px) {
  .menu-button {
    display: none;
  }
}

.burger-open {
  width: 21px;
  height: 14px;
}

.burger-close {
  width: 17px;
  height: 17px;
}

@media screen and (max-width: 767.9px) {
  .nav-wrapper {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .navigation__link {
    font-size: 48px;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1085.9px) {
  .nav-wrapper {
    max-width: 640px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .navigation__link {
    font-size: 64px;
    color: #ffffff;
  }
  .menu-button {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1085.9px) {
  .burger-close {
    position: absolute;
    top: 40px;
    right: 31px;
  }
  .navigation__list {
    margin-top: 50px;
  }
  .navigation__item {
    margin-bottom: 30px;
  }
  .logo {
    width: 120px;
  }
}

.hero {
  height: 869px;
  background-image: url(../images/hero/bg-main.png), url(../images/hero/bg-cars.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom 171px, center bottom 77px;
}

.hero__title {
  max-width: 820px;
  margin: 3px auto 30px auto;
  font-size: 48px;
  line-height: 1.33;
}

.buttons-group {
  display: flex;
  justify-content: center;
}

.left-btn {
  height: 50px;
  padding: 13px 24px;
  background: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.41;
  color: #ffffff;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.left-btn:hover, .left-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
  transform: scale(1.05);
}

.right-btn {
  height: 50px;
  padding: 13px 24px;
  background: transparent;
  border: 1px solid #dadedf;
  border-radius: 4px;
  outline: none;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.33;
  color: var(--main-text-color);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.right-btn:hover, .right-btn:focus {
  background-color: var(--secondary-text-color);
  color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
  transform: scale(1.05);
}

.features__wrap-icon {
  height: 48px;
  width: 48px;
  margin: 0 auto 20px auto;
}

.features__icon {
  display: block;
  max-width: 100%;
  height: auto;
}

.features__list {
  display: flex;
}

.features__item {
  flex-basis: 33.3%;
  text-align: center;
  padding: 0 10px;
}

.features__title {
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 10px;
}

.features__description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */