@charset "UTF-8";
/* Шрифты:
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --main-font: 'Roboto', sans-serif;
  /* для лого: */
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --bgc-main: #2f303a;
  --bgc-secondary: #f5f4fa;
  --card-gap: 30px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  color: #000000;
  font-family: var(--main-font);
  background-color: #ffffff;
}

body.is-blocked {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.adress {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.modal-btn {
  margin-top: 30px;
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal-btn--center {
  margin-left: auto;
  margin-right: auto;
}

.modal-btn--subscription {
  margin-top: 0;
  text-align: left;
  padding-left: 29px;
  background-image: url(../images/svg/icons/subscribe.svg);
  background-repeat: no-repeat;
  background-position: right 28px center;
}

@media screen and (max-width: 1199px) {
  .modal-btn--subscription {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .modal-btn--subscription {
    display: inline-block;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.followus .social-list {
  margin: 0 auto;
  width: 206px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: #afb1b8;
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.followus .social-link {
  color: #ffffff;
  background-color: #44454e;
}

.followus .social-link:hover,
.followus .social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.logo {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo > span {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation-link.current {
    color: var(--accent-color);
  }
  .navigation-link.current::after {
    content: '';
    display: block;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -32px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.navigation-link.current {
  color: var(--accent-color);
}

.transition {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.166;
  }
}

.contact-icons {
  margin-right: 10px;
}

.footer-form {
  font-size: 0;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-form-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding: 0 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .footer-form-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:focus {
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 12px;
  margin-bottom: 20px;
}

.header {
  position: relative;
}

.header .container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header .container {
    height: 80px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 479px) {
  .navigation-link {
    font-size: 30px;
    line-height: 1.175;
  }
  .contact-phone {
    font-size: 24px;
  }
}

@media screen and (min-width: 480px) {
  .navigation-link {
    font-size: 40px;
    line-height: 1.175;
  }
  .contact-phone {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .navigation-link:hover {
    color: var(--accent-color);
  }
  .site-navigation {
    align-self: flex-start;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .menu-container .adress {
    margin-top: auto;
    align-self: flex-start;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
  }
  .menu-container .adress .contact-phone {
    margin-bottom: 32px;
    font-weight: 500;
    line-height: 1.176px;
    /* identical to box height */
    color: var(--accent-color);
    letter-spacing: 0.02em;
    order: -1;
  }
  .menu-container .adress .contact-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .contact-icons {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation-link,
  .contact-mail,
  .contact-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    position: relative;
  }
  .navigation-link:hover, .navigation-link:focus,
  .contact-mail:hover,
  .contact-mail:focus,
  .contact-phone:hover,
  .contact-phone:focus {
    color: var(--accent-color);
  }
  .navigation-link::after {
    content: '';
    display: block;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -32px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-link:hover::after {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact-mail {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contact-mail,
  .contact-phone {
    display: flex;
    align-items: center;
    color: #757575;
  }
  .contact-mail:hover .contact-icons,
  .contact-phone:hover .contact-icons,
  .contact-mail:focus .contact-icons,
  .contact-phone:focus .contact-icons {
    fill: var(--accent-color);
  }
}

.menu-container.is-open {
  display: flex;
}

@media screen and (max-width: 479px) {
  .menu-container {
    padding: 48px 20px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    padding: 48px 40px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;
    z-index: 2;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-left: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-container .adress a:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container .adress {
    display: flex;
  }
}

.menu-button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  z-index: 3;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover, .menu-button:focus {
  color: var(--accent-color);
}

.menu-button-icon {
  fill: currentColor;
}

.menu-button .icon-cross {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile-list {
  display: flex;
  margin: 0 auto;
}

.mobile-list-item {
  height: 22px;
  padding: 0 10px;
}

.mobile-list-item a {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-list-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 479px) {
  .mobile-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .mobile-list {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}

.backdrop.is-hidden {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media screen and (min-width: 768px) {
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.close-btn {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-close {
  width: 30px;
  height: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .form-text {
    line-height: 1.15;
  }
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-input-wrapper {
  display: block;
  margin-top: 4px;
  position: relative;
}

.form-field {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-field:not(:nth-of-type(4)) {
  margin-bottom: 10px;
}

.form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-user-message {
  width: 100%;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-message:focus {
  border-color: var(--accent-color);
}

.form-user-message::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-policy-text {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .form-policy-text {
    font-size: 14px;
    line-height: 1.714;
  }
}

.form-policy-text > a {
  color: var(--accent-color);
}

.form-policy-text::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-policy:checked + .form-policy-text::before {
  border-color: var(--accent-color);
  background-origin: border-box;
  background-color: var(--accent-color);
  background-image: url(../images/svg/icons/checked.svg);
}

.form-policy:focus + .form-policy-text::before {
  transform: scale(1.2);
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-mobile.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 15px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-mobile@2x.jpg);
  }
}

.caption {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 380px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .caption {
    font-size: 44px;
    max-width: 696px;
    line-height: 1.36;
  }
  .hero {
    padding: 200px 15px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg@2x.jpg);
  }
}

.present__wrapper {
  width: 85%;
  margin: 0 auto;
  background-color: #fee5cf;
  display: flex;
}

.present__text {
  flex-basis: 80%;
}

.present__image {
  flex-basis: 20%;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap));
  }
}

@media screen and (max-width: 767px) {
  .features__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__list-item {
    flex-basis: calc(100% / 2 - var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }
}

@media screen and (min-width: 1200px) {
  .features__list-item {
    flex-basis: calc(100% / 4 - var(--card-gap));
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--title-color);
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .features__title {
    margin-bottom: 16px;
  }
}

.features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.features__icon {
  width: 70px;
  height: 70px;
}

.wrap-icon {
  height: 120px;
  background-color: var(--bgc-secondary);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  padding-bottom: 94px;
}

.work .title {
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-list {
  display: flex;
  margin-left: calc(-1 * var(--card-gap));
}

.work-list-item {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-left: var(--card-gap);
}

.work-list-img-wrap {
  position: relative;
}

.work-list-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.team {
  background-color: var(--bgc-secondary);
}

.team .title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team .title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap));
  }
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list-item {
    flex-basis: calc(100% / 2 - var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    flex-basis: calc(100% / 4 - var(--card-gap));
  }
}

.team-title,
.team-description {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title {
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-description {
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 16px;
}

.team-image {
  display: block;
  width: 100%;
  height: auto;
}

.card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-content {
  padding: 30px 0px 24px 0px;
}

@media screen and (max-width: 479px) {
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .card-content {
    padding: 30px 122px 24px 122px;
  }
}

@media screen and (min-width: 768px) {
  .card-content {
    padding: 30px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .card-content {
    padding: 30px 32px;
  }
}

.clients .title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients .title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 320px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap));
  }
}

.clients-list-item {
  height: 90px;
}

@media screen and (max-width: 319px) {
  .clients-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 320px) {
  .clients-list-item {
    flex-basis: calc(100% / 2 - var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    flex-basis: calc(100% / 3 - var(--card-gap));
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item {
    flex-basis: calc(100% / 6 - var(--card-gap));
  }
}

.clients-link {
  width: 100%;
  height: 100%;
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  /* border: 1px solid #2196f3; - accent-color hover */
  border-radius: 4px;
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
}

.clients-icons {
  fill: currentColor;
}

.clients-link:hover .clients-icons,
.clients-link:focus .clients-icons {
  fill: var(--accent-color);
}

.portfolio {
  border-top: 1px solid #ececec;
}

.project-preview-wrap {
  position: relative;
  overflow: hidden;
}

/* overlay --------- */
.overlay {
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .overlay {
    font-size: 16px;
  }
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0);
}

/* ------------------ */
.portfolio-nav-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-right: -8px;
}

@media screen and (min-width: 768px) {
  .portfolio-nav-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-nav-list {
    margin-bottom: 50px;
  }
}

.portfolio-nav-list-item {
  margin-top: 15px;
  margin-right: 8px;
}

.portfolio-nav-link {
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--bgc-secondary);
  border-radius: 4px;
}

.portfolio-nav-link:hover, .portfolio-nav-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-content {
  padding: 20px 24px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.project-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap));
  }
}

.projects-list-item {
  border: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .projects-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects-list-item {
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
    flex-basis: calc(100% / 2 - var(--card-gap));
  }
}

@media screen and (min-width: 1200px) {
  .projects-list-item {
    flex-basis: calc(100% / 3 - var(--card-gap));
  }
}

.project-link {
  display: block;
}

.project-link:hover, .project-link:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0);
}

.footer {
  background-color: var(--bgc-main);
  padding: 60px 0;
}

.footer .logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.adress-list-item:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (min-width: 1200px) {
  .adress-list-item:not(:last-child) {
    margin-bottom: 6px;
  }
}

.post-adress,
.footer-mail,
.footer-phone {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.post-adress:hover, .post-adress:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}

.post-adress {
  color: #ffffff;
}

.footer-mail,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer-wrapper {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .followus {
    margin-top: 60px;
  }
}
/*# sourceMappingURL=main.css.map */