body {
   color: var(--main-text-color);
   font-family: var(--main-font);
   font-weight: 400;
   background-color: #ffffff;
   &.is-blocked {
      overflow: hidden;
   }
}
.list {
   list-style: none;
}
.link {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
   font-weight: 400;
}
ul,
ol {
   margin: 0;
   padding: 0;
}
img {
   display: block;
   max-width: 100%;
}
.adress {
   font-style: normal;
}
