:root {
   --main-font: font-family: 'Inter', sans-serif;

   --main-text-color: #212B31;
   --secondary-text-color: #72787D;
   // --accent-color: #2196f3;
   // --title-color: #212121;
   // --text-color: #757575;

   // --bgc-main: #2f303a;
   // --bgc-secondary: #f5f4fa;

   // --card-gap: 30px;
}
