:root {
   --main-font: 'Inter', sans-serif;

   --main-text-color: #212b31;
   --secondary-text-color: #72787d;
   --link-hover-color: #036fc7;
   --accent-color: #ffdd76;
   // --title-color: #212121;
   // --text-color: #757575;

   // --bgc-main: #2f303a;
   // --bgc-secondary: #f5f4fa;

   // --card-gap: 30px;
}
